*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    color: rgb(248, 245, 245);
    line-height: 1.9;
}
header{
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background-image: url(silde_images/background3.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-bottom-style: solid;
    box-shadow: 0 2px 5px rgba(29, 28, 28, 0.1);
    border-bottom-width: 2px;
    border-bottom-color: rgb(159, 172, 172);
    z-index: 1000;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}
.logo{
    font-size: 2rem;
    font-weight: 700;
    color: white;
}
.logo span{
    color: #0078ff;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links a{
    text-decoration: none;
    color: #e7dfdf;
    font-weight: 500;
    transition: 0.3s;
}
.nav-links a:hover{
    color: #1e71cf;
}
#section-home{
    height: 615px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#home{
    display: grid;
}
#home h2, #about h2, #projects h2, #skills h2, #contacts h2{
    font-size: 2.0rem;
    font-weight: 700;
}
.myH2-container{
    padding-top: 100px;
}
.myH2-text{
    font-size: 2.0rem;
    font-weight: 700;
}
.image-container{
    padding: 5px 0;
}
.daggy-image{
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 50%;
}
.home-text{
    padding: 5px 0;
    font-size: 22px;
}
.btn-container{
    padding: 10px 0;
}
.btn{
    padding: 10px 15px;
    font-size: 1.1rem;
    background-color: #0078ff;
    color: white;
    border: none;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(29, 28, 28, 0.1);
    font-weight: 600;
    cursor: pointer;
}
#about, #contacts{
    padding: 120px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
body section{
    background-image: url(silde_images/background3.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 0;
}
footer{
    bottom: 0;
    text-align: center;
    padding: 5px;
    background: #222;
    color: white;
    font-size: 0.9rem;
}
#about{
    height: 615px;
}
.about-container{
    display: grid;
    gap: 30px;
}
h2{
    font-family: 2.0rem;
    font-weight: 700;
}
#about .about-container p{
    font-size: 22px;
}
#about a{
    color: #5594db;
}
#about a:hover{
    color: #76a8e0;
}
#projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.project-container1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.project-container2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#projects h3{
    font-size: 1.5rem;
    font-weight: 500;
}
#projects img{
    height: 300px;
    width: 300px;
    object-fit: contain;
    border: none;
}
.weather-text, .music-text, .clock-text, .calculator-text{
    font-size: 1.2rem;
    line-height: 30px;
}
.project-card{
    border: solid 1px rgb(158, 157, 157);
    padding: 30px;
    border-radius: 10px;
    margin: 10px;
}
#skills{
    padding: 120px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.skills-container1 p{
    font-size: 22px;
}
.skills-container2, .skills-container3{
    display: flex;
    justify-content: space-evenly;
}
.skills-container3{
    margin-bottom: -90px;
}
#contacts{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
    margin-bottom: -40px;
}
#contact-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
    min-width: 400px;
}
input, textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.logo-info{
    display: flex;
    min-width: 400px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}
.logo-info img{
    height: 30px;
    width: 30px;
    border-radius: 5px;
}